################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UTDG/v15/Server/sqlite3
/obj/UTDG.csproj.nuget.g.targets
/obj/UTDG.csproj.nuget.g.props
/obj/UTDG.csproj.nuget.cache
/obj/project.assets.json
/obj/Debug/netcoreapp2.1
